@using Peluqueria_Calibrum.Models
@model IEnumerable<ServicioModel>

@{
    ViewData["Title"] = "Servicios";
}

<div class="card">
    <div class="text-center">
        <div>
            <h1>Lista de Servicios</h1>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Servicio</label>
        </div>

        <div class="input-field col s4">
            <a class="btn-floating btn-large waves-effect waves-light blue"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a style="align-items:end" class="btn-floating btn-large waves-effect waves-light green"><i class="large material-icons">add</i></a>
        </div>
    </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Servicios</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>$@item.Precio</td>
                    <td>
                        <a class="btn btn-warning waves-effect waves-dark btn modal-trigger yellow darken-1">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-warning waves-effect waves-light btn modal-trigger red">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                
            }
            </tbody>
        </table>
<!--
        <div class="modal fade" id="miServicio" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <form method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h2 class="modal-title text-primary text-center">Agregar Nuevo Servicio</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div style="padding-left:15%; padding-right:15%; padding-bottom:30px;">
                                <div class="row p-3 border-0">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                                <div class="form-group">
                                    <label>Servicio</label>
                                    <input asp-for="Nombre_serv" class="form-control" placeholder="Corte de Barba"/>
                                    <span asp-validation-for="Nombre_serv" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Descripcion</label>
                                    <textarea asp-for="Descripcion_serv" class="form-control" placeholder="Cualquier Corte de Barba"></textarea>
                                    <span asp-validation-for="Descripcion_serv" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Precio</label>
                                    <input asp-for="Precio" class="form-control" type="number" value="$" />
                                    <span asp-validation-for="Precio" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer; text-center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Crear Empleado</button><br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        -->


        <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
    </div>
