@model IEnumerable<Peluqueria_Calibrum.Models.ServicioModel>

@{
    ViewData["Title"] = "Servicios";
}
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a>Administrar <span>Servicios</span></a>
        </div>
        <div class="card-btn">
            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#miEmpleado">
                <i class="fa-solid fa-circle-plus"></i>
                Nuevo Servicio
            </a>
        </div>
    </div>


    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="mt-2 form-floating">
                    <input id="nombre" type="text" class="form-control">
                    <label for="nombre">Servicio</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="mt-2 form-floating">
                    <select class="form-select" id="categoria">
                        <option value="" disabled selected></option>
                        <option value="Peluquero">Peluquero</option>
                        <option value="Barbero">Barbero</option>
                    </select>
                    <label for="categoria">Categoría:</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <button type="button" class="btn btn-secondary btn-circle" onclick="buscarServicio()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <a type="button" class="btn btn-primary btn-circle" href="/ListaServicios">
                    <i class="fa-sharp fa-solid fa-filter-circle-xmark"></i>
                </a>
            </div>
        </div>
        <div class="table-responsive" id="tablaServicios">
            @Html.Partial("_TablaServicios", Model)
        </div>
    </div>



    <!-- Modal para editar Servicio -->
    <div class="modal fade" id="editarServicio" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticLabel">Editar Servicio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formEditarServicio" action="/Servicios/InsertServicios" method="post" onsubmit="return modificar()">
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="nombre" class="form-label">Nombre del Servicio:</label><br />
                            <input required type="text" class="form-control" id="nombreServicio" name="nombre" />
                        </div>

                        <div class="form-group mb-3">
                            <label for="Categoria" class="form-label">Categoría</label><br />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Categoria" id="peluquero" value="Peluquero" required>
                                <label class="form-check-label" for="peluquero">
                                    Peluquero
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Categoria" id="barbero" value="Barbero">
                                <label class="form-check-label" for="barbero">
                                    Barbero
                                </label>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="Descripcion" class="form-label">Descripción</label>
                            <textarea required class="form-control" rows="3" id="descripcion" name="Descripcion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="Precio" class="form-label">Precio</label>
                            <input required type="number" class="form-control" id="precio" name="Precio" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="Mostrar_Home" class="form-label">Mostrar en la página de inicio</label><br />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Mostrar_Home" id="1" value="1" required>
                                <label class="form-check-label" for="1">
                                    Sí
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Mostrar_Home" id="0" value="0">
                                <label class="form-check-label" for="0">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Modificar Servicio
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- Fin Modal editar Servicio -->

<!-- Modal -->
    <div class="modal fade " id="miEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-2">
                <div class="modal-header">
                    <h2 class="modal-title">Agregar Nuevo Servicio</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/Servicio/InsertServicios" method="post" onsubmit="return guardar()">
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="Nombre" class="form-label">Nombre del Servicio:</label><br />
                            <input required type="text" class="form-control" id="nombre" name="Nombre" />
                        </div>

                        <div class="form-group mb-3">
                            <label for="Categoria" class="form-label">Categoría</label><br />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Categoria" id="peluquero" value="Peluquero" required>
                                <label class="form-check-label" for="peluquero">
                                    Peluquero
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Categoria" id="barbero" value="Barbero">
                                <label class="form-check-label" for="barbero">
                                    Barbero
                                </label>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="Descripcion" class="form-label">Descripción</label>
                            <textarea required class="form-control" rows="3" id="descripcion" name="Descripcion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="precio" class="form-label">Precio</label>
                            <input required type="text" class="form-control" id="precio" name="Precio" minlength="4" maxlength="5" pattern="[0-9]+" oninput="validarPrecio(this)" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnAgregar">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="js/servicio.js"></script>