@{
    ViewData["Title"] = "Servicios";
}



<body>
<div class="text-center">
    <h1>LISTA DE SERVICIOS!</h1>
   <div >
        <a asp-area="" asp-controller="Servicio" asp-action="AgendarServicio">Nuevo Servicio</a>
   </div>
</div>

    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
</body>