@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* NAVBAR */
body, html {
    margin: 0;
    padding: 0;
    background: #e4e5e6;
    font-family: 'Inter Regular';
}

.navbar {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding:0px 30px;
}


.title {
    font-size: 50px;
    font-family: 'Harlow Solid', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title a{
    color: #0d47a1;
    text-decoration:none;
}

.dropdown {
    width: 130px;
}

.dropdown-toggle {
    border-radius: 5px;
    border: none;
    background: #0d47a1;
    color: white;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 0px 7px;
}

    .dropdown-toggle:hover {
        outline: 1px solid;
        outline-color: #0d47a1;
        color: #0d47a1;
        background:white;
    }

.dropdown-toggle show{
    color:white;
}

/* SIDEBAR */
.sidebar {
    background: #0d47a1;
    width: 250px;
    height: calc(100vh - 70px); /* Restar la altura de la barra de navegación */
    position: fixed;
    left: 0;
    top: 70px; /* Altura de la barra de navegación */
    overflow-y: auto; /* Aplicar desplazamiento vertical cuando se alcanza el límite de altura */
    padding-top: 20px;
}

.logo img{
    display: block;
    margin: 0 auto;
    width: 185px;
    height: 185px;
}



.sidebar-menu {
    padding: 10px 0;
}

.item-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    color: #0d47a1;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter Bold';
}

.item {
    width: auto;
    font-size: 15px;
    padding-bottom:10px;
}

.menu-btn {
    display: flex;
    color: white;
    padding: 18px 20px;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
}
.menu-btn:hover {
    color: #0d47a1;
    background-color: white;
}

.menu-btn i {
    padding-right: 20px;
}


/* Estilos para el contenido principal */
.main-content {
    margin-left: 250px; /* Ancho del sidebar */
    padding: 20px;
    transition: margin-left 0.3s ease;
}

/* Estilos para el contenido principal cuando el sidebar se minimiza */
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }
}



.btn-block {
    width: 100%;
}



:root {
    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;
}


