* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*body {
    background: white;
}*/
.navbar .navbar-brand {
    color: #0d47a1;
    font-size: 35px;
    font-family: 'Harlow Solid';
}


.navbar .navbar-nav .nav-item {
    font-size: 18px;
    width: 170px;
    height: 70px;
    padding-right: 18px;
}
.nav-link:hover {
    background-color: #0d47a1;
    color: #ffffff;
    border-radius: 6px;
}

.nav-link {
    color: #0d47a1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .btn-outline {
    color: #0d47a1;
    background-color: white;
    border-color: #0d47a1;
    letter-spacing: 0.03rem;
}

.navbar .btn-outline:hover,
.navbar .btn-outline:active,
.navbar .btn-outline:focus,
.navbar .btn-outline.active {
    background: #0d47a1;
    color: #ffffff;
    border-color: #0d47a1;
}

.redes {
    margin-left:auto;
    display:flex;

}

.redes i:not(:last-child) {
    margin-right: 8px;
}

.footer {
    height: 90px;

}

h1 {
    font-family:Arial;
    font-size: 50px;
    margin-top: 5px;
    font-weight:800;
}
/* Banner */
.banner-imagen {
    background-image: url('../images/banner.jpg') ;
    width: 100%;
    height: 940px;
    background-size: cover;
    background-color:black;
    position: relative;
}

.banner-texto {
    color:white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; 
}

.banner-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* ---------- */
/* HR diseño linea abajo de un titulo*/
hr {
    width: 12%;
    margin-bottom: 40px;
    margin-top: -35px;
    border-color: #0d47a1;
    display: inline-block;
    border-top-width:4px;
    border-top-style: solid;
}


/* ---------------- */
.banner-area h3,
.banner-area h1,
.banner-area a {
    position:absolute;
    left: 50%; /* Ajusta la posición horizontalmente según tus necesidades */
    transform: translate(-50%, -50%); /* Centra los elementos */
    color: #ffffff; /* Color del texto */
    z-index: 1; /* Asegura que los elementos estén por encima del fondo */
}

.banner-area button {
    padding: 10px 20px; /* Ajusta el relleno (padding) del botón según tus necesidades */
    font-size: 18px; /* Ajusta el tamaño de fuente del botón según tus necesidades */
    background-color: #ff0000; /* Color de fondo del botón */
    border: none; /* Elimina los bordes del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

