



* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

body {
    background: #e4e5e6;

}

.wrapper .header {
    z-index: 1;
    background: white;
    position:fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
}

.wrapper .header .header-menu {
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.wrapper .header .header-menu .title a {
    color: #0d47a1;
    font-size: 50px;
    font-family: 'Harlow Solid';
}



.wrapper .header .header-menu .sidebar-btn {
    color: #000000;
    position: absolute;
    margin-left: 220px;
    font-size: 23px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover {
    color: #0000cc;
}

.wrapper .header .header-menu .dropdown .btn {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background: #0d47a1;
    color:white;
}
.wrapper .header .header-menu .dropdown .btn:hover {
    background: white;
    color: #0d47a1;
}

.wrapper .sidebar {
    z-index: 1;
    background: #0d47a1;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 0%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}

    .wrapper .sidebar .sidebar-menu {
        overflow: hidden;
        margin-left: 0;
        padding-left: 30px;
    }


    .wrapper .sidebar .logo img {
        margin: 20px 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .wrapper .sidebar .sidebar-menu .item-title {
        font-size: 90%;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
        margin-left: -40px;
    }

.wrapper .sidebar .sidebar-menu .item {
    overflow: visible;
    list-style:none;
    position:relative;
    width: 250px;
    left: -30px;

}


    .wrapper .sidebar .sidebar-menu .item .menu-btn {
        display: block;
        color: white;
        position: relative;
        padding: 20px;
        transition: 0.3s;
        transition-property: color;
        text-decoration: none;
    }
/*-- Hover --*/

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover {
    color: #0d47a1;
    background-color: white;
    border-radius: 10px;

}
/*--------*/

.wrapper .sidebar .sidebar-menu .item .menu-btn i {
    margin-right: 20px;
}

.wrapper .container {
    width: auto;
    margin-top: 70px;
    margin-left: 400px;
    padding: 15px;
    background: #e4e5e6;
    background-size: cover;
    height: 100vh;
    transition: 0.3s;
}


/* Agregamos estilos al botón para que se posicione en el borde del sidebar */
.wrapper .header .header-menu .sidebar-toggle {
    color: #000000;
    position: absolute;
    margin-left: 220px;
    font-size: 23px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

    /* Cambiamos el color del botón al pasar el cursor sobre él */
    .wrapper .header .header-menu .sidebar-toggle:hover {
        color: #0000cc;
    }

    /* Agregamos estilos para el icono */
    .wrapper .header .header-menu .sidebar-toggle i {
        font-size: 25px;
        font-weight: 900;
    }

/* Agregamos una clase para mostrar u ocultar el sidebar */
.wrapper.sidebar-collapsed .sidebar {
    width: 110px;
}

    .wrapper.sidebar-collapsed .sidebar .logo img {
        height:100px;
        width:100px;
    }

    .wrapper.sidebar-collapsed .sidebar .sidebar-menu .item-title {
        display: none;
    }

    .wrapper.sidebar-collapsed .sidebar .sidebar-menu .item .menu-btn span {
        display: none;
    }

    .wrapper.sidebar-collapsed .sidebar .sidebar-menu .item .menu-btn i {
        margin-right: 70px;
        margin-left: 25px;
        margin-bottom:10px;
        font-size:23px;
    }

.wrapper.sidebar-collapsed .sidebar-menu .item .menu-btn:hover {
    color: white;
    background-color: #0d47a1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
}
