@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: #e4e5e6;
    font-family: 'Inter Regular';
}

.wrapper .header {
    z-index: 1;
    background: white;
    position:fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
}

.wrapper .header .header-menu {
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.wrapper .header .header-menu .title a {
    color: #0d47a1;
    font-size: 50px;
    font-family: 'Harlow Solid';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.wrapper .header .header-menu .sidebar-btn {
    color: #000000;
    position: absolute;
    margin-left: 220px;
    font-size: 23px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover {
    color: #0000cc;
}

.wrapper .header .header-menu .dropdown .btn {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background: #0d47a1;
    color:white;
}
.wrapper .header .header-menu .dropdown .btn:hover {
    background: white;
    color: #0d47a1;
}

.wrapper .sidebar {
    z-index: 1;
    background: #0d47a1;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 0%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu {
    overflow: hidden;
    margin-left: 0;
    padding-left: 0px;
}


.wrapper .sidebar .logo img {
    margin: 20px 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .item-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    background-color: #FFFFFF;
    color: #0d47a1;
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter Bold';
}

.wrapper .sidebar .sidebar-menu .item {
    width:auto;
    font-size: 15px;
}


.wrapper .sidebar .sidebar-menu .item .menu-btn {
    display: block;
    color: white;
    position: relative;
    padding: 20px;
    transition: 0.3s;
    transition-property: color;
    text-decoration: none;
}
/*-- Hover --*/

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover {
    color: #0d47a1;
    background-color: white;
    border-radius: 10px;

}
/*--------*/

.wrapper .sidebar .sidebar-menu .item .menu-btn i {
    margin-right: 20px;
}

.wrapper .container {
    width: auto;
    margin-top: 70px;
    margin-left: 400px;
    padding: 15px;
    background: #e4e5e6;
    background-size: cover;
    transition: 0.3s;
}
.btn-block {
        width: 100%;
    }
