.navbar {
    color: white;
}
body {
    background-color: #f4f8fe;
    margin: 0;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #e4e5e6;
}
}
*, :after, :before {
    box-sizing: border-box;
}
/* Sidebar Styles */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #1f877d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 15px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right: -250px;
    }


    /* Sidebar Styles */

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: white;
    }
    /* COLOR BOTONES SIDEMENU  */
        .sidebar-nav li a:hover {
            text-decoration: none;
            color: #d9d9d9;
            background: #13544d;
        }
    .sidebar-nav .nav-title{
        padding:0.75rem 2rem;
        font-size:80%;
        font-weight:700;
        color:white;
        text-transform:uppercase;
    }
    .sidebar-item {
        position: relative;
        margin: 0;
        transition: background .3s ease-in-out;
    }
    .sidebar .nav-link {
        display: block;
        padding: 0.75rem 1rem;
        color: #fff;
        text-decoration: none;
        background: transparent;
    }
    .sidebar .nav-link .nav-icon {
        display: inline-block;
        width: 1.09375rem;
        margin: 0 0.5rem 0 0;
        font-size: .875rem;
        color: #73818f;
        text-align: center;
    }



    @media(min-width:768px) {
        #wrapper {
            padding: 0;
        }

        #wrapper.toggled {
            padding-left: 250px;
        }

        #sidebar-wrapper {

            width: 0;
        }

        #wrapper.toggled #sidebar-wrapper {
            width: 250px;
        }

        #page-content-wrapper {
            padding: 20px;
            position: relative;
        }

        #wrapper.toggled #page-content-wrapper {
            position: relative;
            margin-right: 0;
        }
    }


.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}
.tablas-wrapper {
    padding-top: 20px;
    display: auto;
}
