@model Peluqueria_Calibrum.Models.Inventario

@{
    ViewData["Title"] = "Inventario";
}

<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
    </head>
    <body>
        <div class="text-center">
            <div>
                <h1>Listado Inventario</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="padding-bottom:10px">
                <label for="nombre">Nombre</label><br />
                <input type="text" name="search" />
            </div>
            <div class ="col-sm-4">
                <label for="nombre">Descripcion</label><br />
                <input type="text" name="search" />
            </div>
            <div class="col-sm-4">
                <input type="submit" value="Buscar" class="btn btn-dark" />
                <button type="button" class="btn btn-outline-dark form-control" data-toggle="modal" data-target="#miInventario">Nuevo Articulo</button>
            </div>
         </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn btn-warning">
                            Modificar    
                        </button>
                        <button type="button" class="btn btn-danger">
                            Eliminar
                        </button>
                    </td>
                    <td>
                    <img src="https://d1tjllbjmslitt.cloudfront.net/spree/products/17169/large/4090528.jpg?1641480226" alt="Tinta" style="width:150px;height:100px;">
                    </td>
                    <td>Tintura Castaña</td>
                    <td>Caja Tintura</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-warning">
                            Modificar
                        </button>
                        <button type="button" class="btn btn-danger">
                            Eliminar
                        </button>
                    </td>
                    <td>
                        <img src="https://d1tjllbjmslitt.cloudfront.net/spree/products/17169/large/4090528.jpg?1641480226" alt="Tinta" style="width:150px;height:100px;">
                    </td>
                    <td>Tintura Castaña</td>
                    <td>Caja Tintura</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="miInventario" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <form method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h2 class="modal-title text-primary text-center">Agregar Nuevo Articulo</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div style="padding-left:15%; padding-right:15%; padding-bottom:30px;">
                                <div class="row p-3 border-0">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                                <div class="form-group">
                                    <label>Imagen de Referencia</label>
                                    <input type="file" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Nombre Articulo</label>
                                    <input asp-for="Nombre_art" class="form-control" />
                                    <span asp-validation-for="Nombre_art" class="text-danger"></span>
                                </div>
                                <div class="form-group"> 
                                    <label>Descripcion</label>
                                    <textarea asp-for="Descripcion_art" class="form-control"></textarea>
                                    <span asp-validation-for="Descripcion_art" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Cantidad</label>
                                    <input asp-for="Cantidad" class="form-control" />
                                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer; text-center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Agregar</button><br />
                            <button type="submit" class="btn btn-success">Volver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>

    </body>
</html>