<!-- model Peluqueria_Calibrum.Controllers.LoginController-->

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calibrum</title>
    <!-- Icono navegador-->
    <link rel="shortcut icon" href="~/images/Logo-Cuadrado-FondoBlanco.jpg">


    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   
    <!-- Icono fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Css-->
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css" />

    <!-- Styles Personalizados -->
    <link rel="stylesheet" href="~/Peluqueria_Calibrum.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vistas.css">

</head>

<body>
    <!-- Wrapper Start-->
    <nav>
        <div class="title">
            <a asp-area="" asp-controller="Inicio" asp-action="CitasHoy">Calibrum</a>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="nav-icon fas fa-circle-user"></i>
                NOMBRE
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                    <a class="dropdown-item" href="#" id="cerrarSesionBtn">
                        Cerrar Sesión
                        <i class="fas fa-right-from-bracket"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
        
        <aside class="">

        </aside>
        <!--Header Menu End-->
        <!--Sidebar Start-->
        @*<div class="wrapper sidebar-collapse">
            <div class="sidebar">
                <div class="logo text-center">
                    <img src="~/images/Logo-Cuadrado-FondoBlanco.jpg" />
                </div>
                <ul class="sidebar-menu">
                    <li class="item-title">
                        Mantenedores
                    </li>
                    <li class="item">
                        <a class="menu-btn"  asp-area="" asp-controller="Empleado" asp-action="Empleado">
                            <i class="nav-icon fas fa-user"></i>
                            Empleados
                        </a>
                    </li>
                    <li class="item">
                        <a class="menu-btn" asp-area="" asp-controller="Citas" asp-action="Citas">
                            <i class="nav-icon fas fa-calendar-days"></i>
                            Citas
                        </a>
                    </li>
                    <li class="item">
                        <a class="menu-btn" asp-area="" asp-controller="Servicio" asp-action="Servicio">
                            <i class="nav-icon fas fa-scissors"></i>
                            Servicios
                        </a>
                    </li>

                    <li class="item-title">
                        Administracion
                    </li>
                    <li class="item">
                        <a class="menu-btn" asp-area="" asp-controller="Inventario" asp-action="Inventario">
                            <i class="nav-icon fas fa-box "></i>
                            Inventario
                        </a>
                    </li>
                    <li class="item">
                        <a class="menu-btn" asp-area="" asp-controller="Gestion" asp-action="Gestion">
                            <i class="nav-icon fas fa-sliders"></i>
                            Gestión
                        </a>
                    </li>
                    
                    
                    
                </ul>
            </div>
            <!--Sidebar End-->

            <!--Main Container Start-->
            
        </div>*@
        <!--Main Container End-->
        <div class="container">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/ba1c51d352.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"></script>
    <script src="js/layout.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>


</html>

