<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calibrum</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Icono fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Css-->
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

    <!-- Styles Personalizados -->
    <link rel="stylesheet" href="~/Peluqueria_Calibrum.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vistas.css">

</head>

<body>
    <!-- Wrapper Start-->
    <div class="wrapper">
        <!--Header Menu Start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">
                    <a asp-area="" asp-controller="Inicio" asp-action="CitasHoy" class="text-decoration-none">Calibrum</a>
                </div>
                <div class="dropdown">
                    <a class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="nav-icon fas fa-circle-user"></i>
                        [Usuario]
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#" id="cerrarSesionBtn">
                                Cerrar Sesión
                                <i class="fas fa-right-from-bracket"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Header Menu End-->
        <!--Sidebar Start-->
        <div class="wrapper sidebar-collapse">
            <div class="sidebar">
                <div class="logo text-center">
                    <img src="~/images/Logo-Cuadrado-FondoBlanco.jpg" />
                </div>
                <ul class="sidebar-menu">
                    <li class="item-title">
                        Mantenedores
                    </li>
                    <li class="item">
                        <a class="menu-btn" asp-area="" asp-controller="Empleado" asp-action="Empleado">
                            <i class="nav-icon fas fa-user"></i>
                            Empleados
                        </a>
                    </li>
                    <li class="item">
                        <a class="menu-btn" asp-area="" asp-controller="Citas" asp-action="Citas">
                            <i class="nav-icon fas fa-calendar-days"></i>
                            Citas
                        </a>
                    </li>
                    <li class="item">
                        <a class="menu-btn" asp-area="" asp-controller="Servicio" asp-action="Servicio">
                            <i class="nav-icon fas fa-scissors"></i>
                            Servicios
                        </a>
                    </li>
                    </br>
                    <li class="item-title">
                        Administracion
                    </li>
                    <li class="item">
                        <a class="menu-btn" asp-area="" asp-controller="Inventario" asp-action="Inventario">
                            <i class="nav-icon fas fa-box "></i>
                            Inventario
                        </a>
                    </li>
                    <br></br>
                    
                    
                    <li class="item">
                        <a class="menu-btn" style="background-color:#0d47a1; color:#0d47a1" onclick="test()" style="font-size:0px">
                            Boton oculto
                        </a>
                    </li>
                </ul>
            </div>
            <!--Sidebar End-->
            <!--Main Container Start-->
            <div class="container">
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>

        <!--Main Container End-->

    </div>
    <!--Wrapper End-->
    <!-- jQuery, Bootstrap JS -->



    
    <script>
        //BOTON DE PRUEBA ESTO ES PARA PROBAR SWEETALERT2
        function test(){
            Swal.fire({
                title: 'SUPER ADMIN ACTIVADO',
                html:'<br>Esto no hace nada en realidad...',
                width: 600,
                padding: '3em',
                color: '#716add',
                background: '# ',
                backdrop: `
                 rgba(255, 125, 0, 0.5)
                url("https://media.tenor.com/-AyTtMgs2mMAAAAi/nyan-cat-nyan.gif")
                left top / 50% auto
                no-repeat
                  `
            })
        }


        document.querySelector('.dropdown-item').addEventListener('click', function (event) {
            event.preventDefault();

            let timerInterval;
            Swal.fire({
                title: 'Cerrando sesión',
                html: 'Espera, ¿¡QUE?! <br><b></b> segundos.',
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                    const b = Swal.getHtmlContainer().querySelector('b');
                    timerInterval = setInterval(() => {
                        b.textContent = ((Swal.getTimerLeft() / 1000).toFixed(1));
                    }, 100);
                },
                willClose: () => {
                    clearInterval(timerInterval);
                },
                onClose: () => {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Has escapado del cierre de sesión!',
                        text: 'Parece que alguien no quiere irse... ¡Sigue disfrutando!',
                        showConfirmButton: false,
                        timer: 3000
                    });
                }
            }).then(() => {
                window.location.href = '/Home';
            });
        });
        
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/ba1c51d352.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        // Agregamos un listener al botón para que al hacer clic en él, el sidebar se oculte o muestre
        const sidebarToggle = document.querySelector('.sidebar-toggle');
        const wrapper = document.querySelector('.wrapper');

        sidebarToggle.addEventListener('click', () => {
            wrapper.classList.toggle('sidebar-collapsed');
        });


    </script>


</body>
</html>

