<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Peluqueria_Calibrum</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Icono fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Css-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Styles-->
    <link rel="stylesheet" href="~/Peluqueria_Calibrum.styles.css" asp-append-version="true" />

    <!-- Materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/css/animaciones.css">

</head>

<body>


    <!-- Wrapper Start-->
    <div class="wrapper">
        <!--Header Menu Start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">
                    <a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration:none">Calibrum</a>
                </div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="dropdown">
                    <a class="btn btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="nav-icon fas fa-circle-user"></i>
                        [Usuario]
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Login">Cerrar Sesion
                                <i class="fas fa-right-from-bracket"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Header Menu End-->
        <!--Sidebar Start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <center class="logo">
                    <img src="~/images/Logo-Cuadrado.jpg" width="200px" height="200px" />
                </center>
                <li class="item-title">
                    Mantenedores
                </li>
                <li class="item">
                    <a class="menu-btn" asp-area="" asp-controller="Empleado" asp-action="Empleado">
                        <i class="nav-icon fas fa-user"></i>
                        Empleados
                    </a>
                </li>
                <li class="item">
                    <a class="menu-btn" asp-area="" asp-controller="Citas" asp-action="Citas">
                        <i class="nav-icon fas fa-calendar-days"></i>
                        Citas
                    </a>
                </li>
                <li class="item">
                    <a class="menu-btn" asp-area="" asp-controller="Servicio" asp-action="Servicio">
                        <i class="nav-icon fas fa-scissors"></i>
                        Servicios
                    </a>
                </li>
                <li class="item-title">
                    Administracion
                </li>
                <li class="item">
                    <a class="menu-btn" asp-area="" asp-controller="Inventario" asp-action="Inventario">
                        <i class="nav-icon fas fa-box "></i>
                        Inventario
                    </a>
                </li>
            </div>
        </div>
        <!--Sidebar End-->
        <!--Main Container Start-->
        <div class="container">
            <div>
                @RenderBody()
            </div>
        </div>
        <!--Main Container End-->

    </div>
    <!--Wrapper End-->
    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Peluqueria_Calibrum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    -->
    <!-- jQuery, Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.13/dist/vue.global.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>