@{
    Layout = "_LayoutClientes";
    ViewData["Title"] = "Agendar";
}


<!-- Modal AGREGAR -->
<div class="modal fade " id="miCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content rounded-2  align-items-center ">
            <div class="modal-header ">
                <h2 class="modal-title">Reserva de Hora</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Citas/InsertCitas" method="post">
                <div class="modal-body">
                    <div class="form-group mb-4">
                        <label for="fecha">Fecha:</label>
                        <input required type="date" class="form-control" id="dia" name="dia" />
                    </div>
                    <div class="form-group mb-4">
                        <label for="hora">Hora:</label>
                        <input required type="time" class="form-control" id="hora" name="hora">
                    </div>
                    <div class="form-group mb3">
                        <label for="hora">Seleccione un servicio:</label>
                        <select required class="form-select" aria-label="Servicios" name="nombre_servicio">
                            <option disabled selected></option>
                            <option value="Corte de Cabello">Corte de Cabello</option>
                            <option value="Alisado">Alisado</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="hora">Seleccione un empleado:</label>
                        <select required class="form-select" arial-label="Peluquero" name="Id_Empleado" aria-label="Id_Empleado">
                            <option disabled selected></option>
                            <option value="1">Peluquero_1</option>
                            <option value="2">Peluquero_2</option>
                            <option value="3">Barbero_1</option>
                            <option value="4">Barbero_2</option>
                        </select>
                    </div>
                    <div>
                        <h3 class="modal-title">Datos Cliente</h3>
                    </div>
                    <div class="mb-3">
                        <label for="nombreCliente" class="form-label">Nombre Cliente:</label>
                        <input required type="text" class="form-control" id="nombre_cliente" name="nombre_cliente">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Numero de telefono:</label>
                        <input required type="text" class="form-control" id="telefono" name="telefono">
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-primary">
                        Agendar cita
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

