@{
   Layout = "_LayoutClientes";
    ViewData["Title"] = "Home";
}
<a asp-controller="Home" asp-action="Home" type="button" class="btn btn-primary">
    Inicio
</a>
<a asp-controller="Home" asp-action="About" type="button" class="btn btn-primary">
    About
</a>
<a asp-controller="Home" asp-action="Agendar" type="button" class="btn btn-primary">
    Agendar Hora
</a>
<a asp-controller="Home" asp-action="Peluqueros" type="button" class="btn btn-primary">
    Nuestros Peluqueros
</a>
