@{
    ViewData["Title"] = "Inicio";
}


<div class="card">
    <div class="text-center">
        <div>
            <h1>Citas de Hoy</h1>
            <p>Citas del dia: [Dia(Lunes,Martes, etc.)]</p>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Hora</th>
                <th>Servicio(s)</th>
                <th>Empleado</th>
                <th>Datos</th>
                <th>Precio</th>
                <th>Finalizado</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td> 10:00</td>
                    <td>Corte de pelo</td>
                    <td>Cristobal</td>
                    <td>Juanito <br> 9 99223344</td>
                    <td>$5 </td>
                    <td>
                        <a class="btn btn-warning waves-effect waves-dark btn modal-trigger">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-warning waves-effect waves-dark btn modal-trigger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
        </tbody>
    </table>
</div>