<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div class="heading">
        <h1>Quienes somos</h1>
        <p>Somos una Peluqueria y Barberia cuyo principal objetivo es ofrecer el mejor servicio posible al cliente con nuestros variados servicios</p>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="~/images/pelo.jpg"/>
            </div>
            <div>
                <h2>Sobre Nosotros</h2>
                <p>En Peluqueria Calibrum contamos con una amplia variedad de estilistas expertos en distintas areas para ofrecer el mejor servicio posible a nuestros clientes. 
                    Al ser una Peluqueria y Barberia ofrecemos una amplia gama de servicios; cortes de pelo, barba, peinados, coloracion y decoloracion entre otras cosas.
                    Visitanos, nuestra ubicacion es...</p>
            </div>
        </section>
    </div>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
</body> 