<head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
</head>
<body>
    <div>
        <div class="modal-content ">
            <div class="modal-header">
                <h2 class="modal-title">Reserva de Hora</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input id="fecha" class="form-control" type="date" />
                </div>
                <div class="form-group mb-3">
                    <label for="hora" class="form-label">Hora</label>
                    <input id="hora" class="form-control" type="time" />
                </div>
                <div class="form-group mb-3">
                    <select class="form-select" aria-label="Servicios">
                        <option disabled selected>Servicios</option>
                        <option value="1">Corte Infantil</option>
                        <option value="2">Decoloracion</option>
                        <option value="3">Alisado</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <select class="form-select" arial-label="Peluquero">
                        <option disabled selected>Peluquero</option>
                        <option value="peluquero_1">Peluquero 1</option>
                        <option value="peluquero_1">Peluquero 2</option>
                        <option value="peluquero_1">Peluquero 3</option>
                    </select>
                </div>
                <div>
                    <h3 class="modal-title">Datos Cliente</h3>
                </div>
                <div class="mb-3">
                    <label for="nombreCliente" class="form-label">Nombre Cliente</label>
                    <input type="text" class="form-control" id="nombreCliente">
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Contacto</label>
                    <input type="number" class="form-control" id="telefono">
                </div>
                <div class="mb-3">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>Servicios</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Corte de Cabello</td>
                                <td>$5000</td>
                            </tr>
                            <tr>
                                <td>Alisado Permanente</td>
                                <td>$5000</td>
                            </tr>
                            <tr>
                                <td>Corte Infantil</td>
                                <td>$5000</td>
                            </tr>
                        </tbody>
                        <tfoot class="table-info">
                            <tr>
                                <th>Total</th>
                                <th>$15000</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    Agendar
                </button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
</body>
