<head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
</head>
<body>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Peluquero 1</h5>
        <p class="card-text">Descripcion rapida ejemplo</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Corte de Pelo</li>
        <li class="list-group-item">Lavado de Pelo</li>
        <li class="list-group-item">Teñido</li>
      </ul>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Peluquero 2</h5>
        <p class="card-text">Descripcion rapida ejemplo</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Corte de Pelo</li>
        <li class="list-group-item">Lavado de Pelo</li>
        <li class="list-group-item">Corte de Barba</li>
      </ul>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Peluquero 3</h5>
        <p class="card-text">Descripcion rapida ejemplo</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Corte de Pelo</li>
        <li class="list-group-item">Lavado de Pelo</li>
        <li class="list-group-item">Alisado</li>
      </ul>
    </div>

    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
</body>